<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <DisableAppDomain>true</DisableAppDomain>
    <DisableParallelization>true</DisableParallelization>
  </RunConfiguration>
  <MSBuild>
    <Properties>
      <ShadowCopy>false</ShadowCopy>
    </Properties>
  </MSBuild>
</RunSettings>